%h2 Update a comment:
%p{:style => "color: green;"}= flash[:success]
%p{:style => "color: red;"}= flash[:error]
= form_for(@comment) do |f|
  .field
    = f.label :body
    %br/
    = f.text_area :body
  .actions
    = f.submit
%br/
= link_to 'Edit Post', edit_post_path(@comment.post)
|
\#{link_to 'Back to Posts', posts_path} |
